# Dev config folders
/.circleci
/.git2gus
/.github
/.vscode
/extra-types
/integration-tests
/lwc-jest-resolver
/src
**/__tests__/**
**/__mocks__/**
**/.DS_Store

# Configuration files
.editorconfig
.eslintignore
.eslintrc.js
.nvmrc
.prettierrc.json
jest.config.js
lint-staged.config.js
tsconfig.json

# Ignore artifacts
*.tgz