# Kris: I disabled this as the Talon dependencies aren't present here yet
# So I had to use the npmrc in the talon project.
#registry=https://npm.lwcjs.org


# We have two registries we could use:
# Internal (private)
registry=https://nexus.soma.salesforce.com/nexus/content/groups/npm-all/

# Also grab @types NPMs from Nexus, SFCI cannot reach any public registry anyway
@types:registry=https://nexus.soma.salesforce.com/nexus/content/groups/npm-all/

