.header {
    border-bottom: 	1px solid #dddbda;
}

.preview-content {
    background-color: #F3F2F2;
}

.container {
    /* TODO remove */
    min-height: 500px;
}

.component-name {
    font-weight: bold;
}
