:host {
    display: block;
    background: #16325c;
}

.container {
    height: 80px;
}

.logo {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #fff;
    box-sizing: content-box;
}

h1 {
    font-family: 'Neutraface Display';
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #fff;
}
